.home-card {
	text-decoration: none;
}

.home-card > * {
	background-color: var(--bg-clr);
}

.home-card h6,
.home-card p {
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.home-card h6 {
	color: var(--font-clr);
}
